@tailwind base;
@tailwind components;
@tailwind utilities;

.tmdb-lightblue {
  background-color: #006987;
}

.tmdb-light-green {
  background-color: #94dcd2;
}

.hover_tmdb-blue:hover {
  background-color: #004052;
}

.tmdb-blue {
  background-color: #004052;
}

.tmdb-blue-alt {
  background-color: #17718e;
}

.hover_tmdb-blue-alt:hover {
  background-color: #1b84a5;
}

.tmdb-light-green-border {
  border-color: #94dcd2;
}

.parallax {
  background-color: wheat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mid-parallax {
  min-height: 80vh;
}

.full-parallax {
  min-height: 100vh;
}

body {
  background-color: #f3f3f3;
}

.poster-hover-transition {
  transition: all 0.7s ease;
  opacity: 0.9;
}

.poster-hover-transition:hover {
  /* transform: rotateY(180deg) scaleX(-1); */
  transform: scale(1.15);
  opacity: 1;
}

.card-movie {
  width: 15rem;
  height: 23rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-more-info {
  transition: all 0.5s ease;
}

.btn-more-info:hover {
  background-color: #94dcd2 !important;
  color: black !important;
  border-width: 1px !important;
  border-color: transparent !important;
}

.animate__animated.animate__delay-05s {
  animation-delay: 0.5s
}

.hover-row:hover {
  background-color: #f1fdff;
}

/*
 [ SPINNER ]
 */

.loader {
  border-top-color: dodgerblue;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
  [ ACCORDION ]
*/

/* Tab content - closed */
.tab-content {
  max-height: 0;
  -moz-transition: max-height 0.40s;
  -webkit-transition: max-height 0.40s;
  -o-transition: max-height 0.40s;
  transition: max-height 0.40s;
}

/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
  max-height: 1400vh;
}

/* Label formatting when open */
.tab input:checked + label {
  /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
  padding: 1.25rem; /*.p-5*/
  border-color: #04b4e4; /*.border-indigo*/
  background-color: #d3efe9; /*.bg-gray-100 */
  color: #073741;
}

/* Icon */
.tab label::after {
  float: right;
  right: 0;
  top: 0;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  font-size: 1.25rem;
  text-align: center;
  -webkit-transition: all 0.40s;
  -moz-transition: all 0.40s;
  -o-transition: all 0.40s;
  transition: all 0.40s;
}

/* Icon formatting - closed */
.tab input[type=checkbox] + label::after {
  content: "+";
  font-weight: bold; /*.font-bold*/
  border-width: 1px; /*.border*/
  border-radius: 9999px; /*.rounded-full */
  border-color: #b8c2cc; /*.border-grey*/
}

/* Icon formatting - open */
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(45deg);
  background-color: #6574cd; /*.bg-indigo*/
  color: #f8fafc; /*.text-grey-lightest*/
}
