@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax {
  min-height: 100vh;
  background-color: wheat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: #f3f3f3;
}

.poster-hover-transition {
  transition: all 0.7s ease;
  opacity: 0.9;
}

.poster-hover-transition:hover {
  /* transform: rotateY(180deg) scaleX(-1); */
  transform: scale(1.15);
  opacity: 1;
}

.card-movie {
  width: 15rem;
  height: 23rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-more-info {
  transition: all 0.5s ease;
}

.btn-more-info:hover {
  background-color: lawngreen;
  color: black;
  border-width: 1px;
  border-color: transparent;
}

/*
 [ SPINNER ]
 */

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
